<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453761745957-ca2q2tdr7q0dt6irks3d15s4t6ktsiab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453761745957-ca2q2tdr7q0dt6irks3d15s4t6ktsiab</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>453761745957-5rspn0iq8bitjf44dl5k8758q9l0bhjj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDl4UvNgvWHTTACK6RwLo67vozA9sDT_3c</string>
	<key>GCM_SENDER_ID</key>
	<string>453761745957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silver.meetingroombooking</string>
	<key>PROJECT_ID</key>
	<string>meetingroombooking-bb247</string>
	<key>STORAGE_BUCKET</key>
	<string>meetingroombooking-bb247.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453761745957:ios:c2fdad046c3a9a90322bcc</string>
</dict>
</plist>